:root{
    --black: #000000;
    --black2: #1b1919;
    --black3: #2B2B2B;
    --blue:#091353;
    --white: whitesmoke;
    --green:#346751;
    --light:#F9CF93;
    --darklight:#c17d11;
}



.about{
    background-color: var(--black3);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding:20px 20px;
    justify-content: center;
}
.about .title{
    color: whitesmoke;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.about .title h2{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: bold;
    
}
.about .title h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50px;
    height: 4px;
    background: var(--white);
}
/**************Card Button*********************/
.CardNav{
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin:30px;
    z-index: 0;
    
    
}
.CardNav .CardButton{
    cursor:pointer;
    width: 12vh;
    height:5vh;
    margin:0 20px;

}
@media screen and (max-width:450px) {
    .CardNav .CardButton{
         margin:0 10px;
}}

/**************Education Card*********************/
.vertical-timeline-element-content{
    background-color: var(--white);
    color: var(--black);
}



.eduProgram{
    color: var(--darklight);
    font-size:1rem; 
    font-family: bold;
    padding-bottom: 5px;
}
.eduCollege{
    font-size:1rem;
    padding-bottom: 5px;
}
.eduLocation{
    opacity: 0.8;
}

.date{
    
    color: var(--white);
   
}
    @media screen and (max-width:1169px){
        .date{
        
            color: var(--black);
        
        }
    }


/********************* Skill Card****************************/

.SkillList{
    list-style: none;
    font-size: 1rem;
    
    
}
.SkillList svg{
    margin-right: 10px;
    background-color: var(--black);
    color: var(--light);
    font-size: 1.4rem;
    
}
/********************* Experience Card****************************/
.ExpPosition{
    color: var(--darklight);
    font-size:1rem; 
    font-family: bold;
    padding-bottom: 5px;   
}
.ExpOffice{
   
    font-size:1rem;
    font-family: bold;  
}
.ExpPosition{
   
    font-size:1rem;  
}
.ExpDuty{
   
    font-size:1rem; 
    opacity: 0.8;
}
.ExpLocation{
   
    font-size:0.8rem; 
    opacity: 0.5;
    padding-top: 10px;  
}